<!DOCTYPE HTML>
<html>

<head>
	<title>Hymn Lyrics PPT Creator</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/sidebars.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<main class="d-flex flex-nowrap">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<svg class="bi pe-none me-2" width="40" height="32"></svg>
				<span class="fs-4">Hymn Lyrics PPT Creator</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="/" class="nav-link active" aria-current="page">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						Download Hymn PPT
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_pptx/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.txt -> .pptx
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_pptx_batch/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.txt -> .pptx (batch)
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_txt/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.pptx -> .txt
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_txt_batch/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.pptx -> .txt (batch)
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#how-to-use-collapse" aria-expanded="false">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						How to use
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
							<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
						</svg>
					</a>
					<div class="collapse" id="how-to-use-collapse">
						<ul class="nav nav-pills flex-column mb-auto">
							<li class="nav-item">
								<a href="/how_to_use_west_coast_theme/" class="nav-link text-white">
									<svg class="bi pe-none me-2" width="32" height="16"></svg>
									West Coast Theme
								</a>
							</li>
							<li class="nav-item">
								<a href="/how_to_use_wed_sermon/" class="nav-link text-white">
									<svg class="bi pe-none me-2" width="32" height="16"></svg>
									Wednesday Sermon
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="container my-5">
		<div class="p-5 text-left bg-body-tertiary rounded-3">
			<h1 class="text-body-emphasis">Download Hymn Lyrics PPT</h1>
			<p class="fs-5 text-muted">
				Select your interested hymns and download the ppt files.<br>
				If below list does not show your hymn, it means the lyrics is not ready yet.<br>
				You need to create your own lyrics file and use <a href="/to_pptx/">.txt -> .pptx</a> page to generate ppt file.<br>
				Please send the lyrics file to <a href="mailto:dongkyu.kim.dev@gmail.com">dongkyu.kim.dev@gmail.com</a> so that it is added to this list
			</p>

			<select name="hymn_file_title" size="15" style="width: 300px" form="generate_ppt" multiple>
				<option value="K40_E40_S#_C#.txt">K40_E40_S#_C#</option>
				<option value="K73_E73.txt">K73_E73</option>
				<option value="K78_E78_S49_C27.txt">K78_E78_S49_C27</option>
				<option value="K137_E137.txt">K137_E137</option>
				<option value="K138_E138_S80_C96.txt">K138_E138_S80_C96</option>
				<option value="K163_E163_S97_C119.txt">K163_E163_S97_C119</option>
				<option value="K167_E167_S#_C#.txt">K167_E167_S#_C#</option>
				<option value="K172_E172_S103.txt">K172_E172_S103</option>
				<option value="K173_E173.txt">K173_E173</option>
				<option value="K185_E185.txt">K185_E185</option>
				<option value="K186_E186_S132_C210.txt">K186_E186_S132_C210</option>
				<option value="K193_E193_S61_C213.txt">K193_E193_S61_C213</option>
				<option value="K194_E194_S61.txt">K194_E194_S61</option>
				<option value="K202_E202_S128_C#.txt">K202_E202_S128_C#</option>
				<option value="K204_E204_S135_C280.txt">K204_E204_S135_C280</option>
				<option value="K205_E205.txt">K205_E205</option>
				<option value="K211_E211_C#.txt">K211_E211_C#</option>
				<option value="K214_E214_S#.txt">K214_E214_S#</option>
				<option value="K235_E235_S81_C197.txt">K235_E235_S81_C197</option>
				<option value="K253_E253_S95_C#.txt">K253_E253_S95_C#</option>
				<option value="K265_E265_S88_C#.txt">K265_E265_S88_C#</option>
				<option value="K268_E268_S85.txt">K268_E268_S85</option>
				<option value="K269_E269.txt">K269_E269</option>
				<option value="K316_E316_S118_C#.txt">K316_E316_S118_C#</option>
				<option value="K317_E317_S#_C#.txt">K317_E317_S#_C#</option>
				<option value="K318_E318_S189_C219.txt">K318_E318_S189_C219</option>
				<option value="K321_E321_S107_C#.txt">K321_E321_S107_C#</option>
				<option value="K330_E330_S202_C283.txt">K330_E330_S202_C283</option>
				<option value="K331_E331_S198_C#.txt">K331_E331_S198_C#</option>
				<option value="K336_E336_C#.txt">K336_E336_C#</option>
				<option value="K337_E337_S200_C227.txt">K337_E337_S200_C227</option>
				<option value="K340_E340_S111.txt">K340_E340_S111</option>
				<option value="K343_E343_S#_C#.txt">K343_E343_S#_C#</option>
				<option value="K349_E349_S213_C#.txt">K349_E349_S213_C#</option>
				<option value="K400_E400_S162.txt">K400_E400_S162</option>
				<option value="K402_E402_S#_C#.txt">K402_E402_S#_C#</option>
				<option value="K403_E403.txt">K403_E403</option>
				<option value="K404_E404_S31_C#.txt">K404_E404_S31_C#</option>
				<option value="K405_E405_S82_C#.txt">K405_E405_S82_C#</option>
				<option value="K406_E406.txt">K406_E406</option>
				<option value="K408_E408.txt">K408_E408</option>
				<option value="K410_E410_S259_C277.txt">K410_E410_S259_C277</option>
				<option value="K411_E411_S239_C239.txt">K411_E411_S239_C239</option>
				<option value="K413_E413.txt">K413_E413</option>
				<option value="K414_E414.txt">K414_E414</option>
				<option value="K416_E416.txt">K416_E416</option>
				<option value="K417_E417_C234.txt">K417_E417_C234</option>
				<option value="K419_E419_S281.txt">K419_E419_S281</option>
				<option value="K423_E423_S285_C287.txt">K423_E423_S285_C287</option>
				<option value="K432_E432_S288_C270.txt">K432_E432_S288_C270</option>
				<option value="K434_E434_S269_C259.txt">K434_E434_S269_C259</option>
				<option value="K435_E435_S136_C278.txt">K435_E435_S136_C278</option>
				<option value="K440_E440_S197_C214.txt">K440_E440_S197_C214</option>
				<option value="K441_E441_S262_C299.txt">K441_E441_S262_C299</option>
				<option value="K442_E442_S283_C271.txt">K442_E442_S283_C271</option>
				<option value="K444_E444_S279_C258.txt">K444_E444_S279_C258</option>
				<option value="K446_K446_S138.txt">K446_K446_S138</option>
				<option value="K447_E447_S133.txt">K447_E447_S133</option>
				<option value="K448_E448_S275_C162.txt">K448_E448_S275_C162</option>
				<option value="K454_E454_S328.txt">K454_E454_S328</option>
				<option value="K455_E455_S289_C304.txt">K455_E455_S289_C304</option>
				<option value="K457_457_S271.txt">K457_457_S271</option>
				<option value="K458_E458_S266_C282.txt">K458_E458_S266_C282</option>
				<option value="K465_E465_S265_C236.txt">K465_E465_S265_C236</option>
				<option value="K468_E468_S140.txt">K468_E468_S140</option>
				<option value="K469_E469_S144.txt">K469_E469_S144</option>
				<option value="K470_E470_S141.txt">K470_E470_S141</option>
				<option value="K471_E471_S264_C99.txt">K471_E471_S264_C99</option>
				<option value="K472_E472_S#_C#.txt">K472_E472_S#_C#</option>
				<option value="K473_E473_S204_C294.txt">K473_E473_S204_C294</option>
				<option value="K474_E474_C#.txt">K474_E474_C#</option>
				<option value="K476_E476_S274_C291.txt">K476_E476_S274_C291</option>
				<option value="K478_E478_S261_C337.txt">K478_E478_S261_C337</option>
				<option value="K480_E480_S#_C#.txt">K480_E480_S#_C#</option>
				<option value="K482_E482_S147_C203.txt">K482_E482_S147_C203</option>
				<option value="K484_E484_S148.txt">K484_E484_S148</option>
				<option value="K485_E485_S145.txt">K485_E485_S145</option>
				<option value="K486_E486.txt">K486_E486</option>
				<option value="K487_E487_S297_C302.txt">K487_E487_S297_C302</option>
				<option value="K488_E488_S306_C297.txt">K488_E488_S306_C297</option>
				<option value="K489_E489_S304_C237.txt">K489_E489_S304_C237</option>
				<option value="K490_E490_S155.txt">K490_E490_S155</option>
				<option value="K493_E493.txt">K493_E493</option>
				<option value="K495_E495_S323_C274.txt">K495_E495_S323_C274</option>
				<option value="K499_E499_S307_C209.txt">K499_E499_S307_C209</option>
				<option value="K500_E500_S154_C284">K500_E500_S154_C284</option>
				<option value="K506_E506.txt">K506_E506</option>
				<option value="K507_E507_S322.txt">K507_E507_S322</option>
				<option value="K509_E509.txt">K509_E509</option>
				<option value="K510_E510_S#_C#.txt">K510_E510_S#_C#</option>
				<option value="K511_E511_S179_C255.txt">K511_E511_S179_C255</option>
				<option value="K512_E512_S177_C254.txt">K512_E512_S177_C254</option>
				<option value="K513_E513.txt">K513_E513</option>
				<option value="K519_E519_S92.txt">K519_E519_S92</option>
				<option value="K521_E521.txt">K521_E521</option>
				<option value="K524_E524_S157.txt">K524_E524_S157</option>
				<option value="K543_E543.txt">K543_E543</option>
				<option value="K545_E545.txt">K545_E545</option>
			</select>

			<form enctype="multipart/form-data" action="/hymn_ppt/" method="POST" id="generate_ppt">
				<p>
					<input type="radio" name="use_case" id="WestCoastTheme" value="WestCoastTheme" checked>
					<label for="WestCoastTheme">West Coast Theme<br>
						<img src="{{ url_for('static',filename='sample/west_coast_title_example.png') }}" alt="west_coast_title_example.png" style="width:200px">
						<img src="{{ url_for('static',filename='sample/west_coast_lyrics_example.png') }}" alt="west_coast_lyrics_example.png" style="width:200px">
					</label>
				</p>
				<p><input type="submit" value="Upload / Convert / Download"/></p>
			</form>

			<br/>
			<hr/>
			<br/>

			<footer>
				<section>
					<h4>Feature Requests / Bug Reports / Any Questions</h4>
					<p>Send an email to <a href="mailto:dongkyu.kim.dev@gmail.com">dongkyu.kim.dev@gmail.com</a></p>
					<p>Find the source code of this website at <a href="https://github.com/dongkyu9315/python-lyrics-ppt-creator">Github</a></p>
				</section>
				<p>&copy;2023 Dongkyu Kim</p>
			</footer>
		</div>
	</div>

	<script src="{{ url_for('static',filename='assets/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/sidebars.js') }}"></script>
</body>

</html>