<!DOCTYPE HTML>
<html>

<head>
	<title>Hymn Lyrics PPT Creator</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/sidebars.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<main class="d-flex flex-nowrap">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<svg class="bi pe-none me-2" width="40" height="32"></svg>
				<span class="fs-4">Hymn Lyrics PPT Creator</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="/" class="nav-link active" aria-current="page">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						Download Hymn PPT
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_pptx/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.txt -> .pptx
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_txt/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.pptx -> .txt
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#how-to-use-collapse"
						aria-expanded="false">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						How to use
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-caret-down-fill" viewBox="0 0 16 16">
							<path
								d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
						</svg>
					</a>
					<div class="collapse" id="how-to-use-collapse">
						<ul class="nav nav-pills flex-column mb-auto">
							<li class="nav-item">
								<a href="/how_to_use_west_coast_theme/" class="nav-link text-white">
									<svg class="bi pe-none me-2" width="32" height="16"></svg>
									West Coast Theme
								</a>
							</li>
							<li class="nav-item">
								<a href="/how_to_use_wed_sermon/" class="nav-link text-white">
									<svg class="bi pe-none me-2" width="32" height="16"></svg>
									Wednesday Sermon
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		</div>

		<div class="container my-5">
			<div class="p-5 text-left bg-body-tertiary rounded-3">
				<h1 class="text-body-emphasis">Download Hymn Lyrics PPT</h1>
				<p class="fs-5 text-muted">
					Select your interested hymns and download the ppt files.<br>
					If below list does not show your hymn, it means the lyrics is not ready yet.<br>
					You need to create your own lyrics file and use <a href="/to_pptx/">.txt -> .pptx</a> page to generate ppt
					file.<br>
					Please send the lyrics file to <a href="mailto:dongkyu.kim.dev@gmail.com">dongkyu.kim.dev@gmail.com</a> so
					that it is added to this list
				</p>

				<select name="hymn_file_title" size="15" style="width: 300px" form="generate_ppt" multiple>
					<option value="K1_E1_S1_C399.txt">K1_E1_S1_C399</option>
					<option value="K2_E2_S2.txt">K2_E2_S2</option>
					<option value="K3_E3.txt">K3_E3</option>
					<option value="K4_E4.txt">K4_E4</option>
					<option value="K5_E5.txt">K5_E5</option>
					<option value="K6_E6.txt">K6_E6</option>
					<option value="K7_E7.txt">K7_E7</option>
					<option value="K8_E8.txt">K8_E8</option>
					<option value="K9_E9_S38_C1.txt">K9_E9_S38_C1</option>
					<option value="K10_E10.txt">K10_E10</option>
					<option value="K11_E11.txt">K11_E11</option>
					<option value="K12_E12_S44_C21.txt">K12_E12_S44_C21</option>
					<option value="K13_E13_S42_C18.txt">K13_E13_S42_C18</option>
					<option value="K14_E14.txt">K14_E14</option>
					<option value="K15_E15.txt">K15_E15</option>
					<option value="K16_E16.txt">K16_E16</option>
					<option value="K17_E17.txt">K17_E17</option>
					<option value="K18_E18.txt">K18_E18</option>
					<option value="K19_E19.txt">K19_E19</option>
					<option value="K20_E20.txt">K20_E20</option>
					<option value="K21_E21_S10_C19.txt">K21_E21_S10_C19</option>
					<option value="K22_E22.txt">K22_E22</option>
					<option value="K23_E23_S32.txt">K23_E23_S32</option>
					<option value="K24_E24.txt">K24_E24</option>
					<option value="K25_E25_S7.txt">K25_E25_S7</option>
					<option value="K26_E26_S300.txt">K26_E26_S300</option>
					<option value="K27_E27_S14.txt">K27_E27_S14</option>
					<option value="K28_E28_S23_C28.txt">K28_E28_S23_C28</option>
					<option value="K29_E29.txt">K29_E29</option>
					<option value="K30_E30_S8_C5.txt">K30_E30_S8_C5</option>
					<option value="K31_E31_S6.txt">K31_E31_S6</option>
					<option value="K32_E32.txt">K32_E32</option>
					<option value="K33_E33_S41_C8.txt">K33_E33_S41_C8</option>
					<option value="K34_E34_S37_C2.txt">K34_E34_S37_C2</option>
					<option value="K35_E35_S#.txt">K35_E35_S#</option>
					<option value="K36_E36_S29_C35.txt">K36_E36_S29_C35</option>
					<option value="K37_E37.txt">K37_E37</option>
					<option value="K38_E38.txt">K38_E38</option>
					<option value="K39_E39.txt">K39_E39</option>
					<option value="K40_E40_S18_C#.txt">K40_E40_S18_C#</option>
					<option value="K41_E41.txt">K41_E41</option>
					<option value="K42_E42.txt">K42_E42</option>
					<option value="K43_E43.txt">K43_E43</option>
					<option value="K44_E44.txt">K44_E44</option>
					<option value="K45_E45.txt">K45_E45</option>
					<option value="K46_E46_S25_C38.txt">K46_E46_S25_C38</option>
					<option value="K47_E47.txt">K47_E47</option>
					<option value="K48_E48_S15_C52.txt">K48_E48_S15_C52</option>
					<option value="K49_E49.txt">K49_E49</option>
					<option value="K50_E50.txt">K50_E50</option>
					<option value="K51_E51.txt">K51_E51</option>
					<option value="K52_E52_S13_C142.txt">K52_E52_S13_C142</option>
					<option value="K53_E53.txt">K53_E53</option>
					<option value="K54_E54.txt">K54_E54</option>
					<option value="K55_E55_S#.txt">K55_E55_S#</option>
					<option value="K56_E56.txt">K56_E56</option>
					<option value="K57_E57_S34_C139.txt">K57_E57_S34_C139</option>
					<option value="K58_E58.txt">K58_E58</option>
					<option value="K59_E59.txt">K59_E59</option>
					<option value="K60_E60.txt">K60_E60</option>
					<option value="K61_E61.txt">K61_E61</option>
					<option value="K62_E62.txt">K62_E62</option>
					<option value="K63_E63.txt">K63_E63</option>
					<option value="K64_E64.txt">K64_E64</option>
					<option value="K65_E65.txt">K65_E65</option>
					<option value="K66_E66.txt">K66_E66</option>
					<option value="K67_E67.txt">K67_E67</option>
					<option value="K68_E68.txt">K68_E68</option>
					<option value="K69_E69.txt">K69_E69</option>
					<option value="K70_E70.txt">K70_E70</option>
					<option value="K71_E71_S48_C343.txt">K71_E71_S48_C343</option>
					<option value="K72_E72.txt">K72_E72</option>
					<option value="K73_E73_S51.txt">K73_E73_S51</option>
					<option value="K74_E74.txt">K74_E74</option>
					<option value="K75_E75_S17_C17.txt">K75_E75_S17_C17</option>
					<option value="K76_E76.txt">K76_E76</option>
					<option value="K77_E77.txt">K77_E77</option>
					<option value="K78_E78_S49_C27.txt">K78_E78_S49_C27</option>
					<option value="K79_E79.txt">K79_E79</option>
					<option value="K80_E80.txt">K80_E80</option>
					<option value="K81_E81.txt">K81_E81</option>
					<option value="K82_E82.txt">K82_E82</option>
					<option value="K83_E83.txt">K83_E83</option>
					<option value="K84_E84.txt">K84_E84</option>
					<option value="K85_E85_S64.txt">K85_E85_S64</option>
					<option value="K86_E86_S325.txt">K86_E86_S325</option>
					<option value="K87_E87.txt">K87_E87</option>
					<option value="K88_E88_S60_C301.txt">K88_E88_S60_C301</option>
					<option value="K89_E89.txt">K89_E89</option>
					<option value="K90_E90.txt">K90_E90</option>
					<option value="K91_E91_S57_C42.txt">K91_E91_S57_C42</option>
					<option value="K92_E92.txt">K92_E92</option>
					<option value="K93_E93_S56_C300.txt">K93_E93_S56_C300</option>
					<option value="K94_E94.txt">K94_E94</option>
					<option value="K95_E95.txt">K95_E95</option>
					<option value="K96_E96.txt">K96_E96</option>
					<option value="K97_E97.txt">K97_E97</option>
					<option value="K98_E98_S330.txt">K98_E98_S330</option>
					<option value="K99_E99.txt">K99_E99</option>
					<option value="K100_E100.txt">K100_E100</option>
					<option value="K101_E101.txt">K101_E101</option>
					<option value="K102_E102_S227.txt">K102_E102_S227</option>
					<option value="K103_E103.txt">K103_E103</option>
					<option value="K104_E104_S65.txt">K104_E104_S65</option>
					<option value="K105_E105.txt">K105_E105</option>
					<option value="K106_E106.txt">K106_E106</option>
					<option value="K107_E107.txt">K107_E107</option>
					<option value="K108_E108.txt">K108_E108</option>
					<option value="K109_E109_S71_C71.txt">K109_E109_S71_C71</option>
					<option value="K110_E110.txt">K110_E110</option>
					<option value="K111_E111.txt">K111_E111</option>
					<option value="K112_E112_S66_C80.txt">K112_E112_S66_C80</option>
					<option value="K113_E113.txt">K113_E113</option>
					<option value="K114_E114_S68_C#.txt">K114_E114_S68_C#</option>
					<option value="K115_E115_S67_C75.txt">K115_E115_S67_C75</option>
					<option value="K116_E116.txt">K116_E116</option>
					<option value="K117_E117.txt">K117_E117</option>
					<option value="K118_E118.txt">K118_E118</option>
					<option value="K119_E119.txt">K119_E119</option>
					<option value="K120_E120_S74_C77.txt">K120_E120_S74_C77</option>
					<option value="K121_E121.txt">K121_E121</option>
					<option value="K122_E122.txt">K122_E122</option>
					<option value="K123_E123_S70_C73.txt">K123_E123_S70_C73</option>
					<option value="K124_E124.txt">K124_E124</option>
					<option value="K125_E125.txt">K125_E125</option>
					<option value="K126_E126.txt">K126_E126</option>
					<option value="K127_E127.txt">K127_E127</option>
					<option value="K128_E128.txt">K128_E128</option>
					<option value="K129_E129.txt">K129_E129</option>
					<option value="K130_E130.txt">K130_E130</option>
					<option value="K131_E131.txt">K131_E131</option>
					<option value="K132_E132.txt">K132_E132</option>
					<option value="K133_E133_S78_C279.txt">K133_E133_S78_C279</option>
					<option value="K134_E134.txt">K134_E134</option>
					<option value="K135_E135_S79_C93.txt">K135_E135_S79_C93</option>
					<option value="K136_E136.txt">K136_E136</option>
					<option value="K137_E137.txt">K137_E137</option>
					<option value="K138_E138_S80_C96.txt">K138_E138_S80_C96</option>
					<option value="K139_E139.txt">K139_E139</option>
					<option value="K140_E140.txt">K140_E140</option>
					<option value="K141_E141_S84_C95.txt">K141_E141_S84_C95</option>
					<option value="K142_E142.txt">K142_E142</option>
					<option value="K143_E143.txt">K143_E143</option>
					<option value="K144_E144_S86_C216.txt">K144_E144_S86_C216</option>
					<option value="K145_E145_S87.txt">K145_E145_S87</option>
					<option value="K146_E146.txt">K146_E146</option>
					<option value="K147_E147_S85.txt">K147_E147_S85</option>
					<option value="K148_E148.txt">K148_E148</option>
					<option value="K149_E149.txt">K149_E149</option>
					<option value="K150_E150_S94_C108.txt">K150_E150_S94_C108</option>
					<option value="K151_E151_S91_C281.txt">K151_E151_S91_C281</option>
					<option value="K152_E152.txt">K152_E152</option>
					<option value="K153_E153.txt">K153_E153</option>
					<option value="K154_E154_S93.txt">K154_E154_S93</option>
					<option value="K155_E155_S95.txt">K155_E155_S95</option>
					<option value="K156_E156.txt">K156_E156</option>
					<option value="K157_E157.txt">K157_E157</option>
					<option value="K158_E158_S129.txt">K158_E158_S129</option>
					<option value="K159_E159.txt">K159_E159</option>
					<option value="K160_E160.txt">K160_E160</option>
					<option value="K161_E161.txt">K161_E161</option>
					<option value="K162_E162.txt">K162_E162</option>
					<option value="K163_E163_S97_C119.txt">K163_E163_S97_C119</option>
					<option value="K164_E164.txt">K164_E164</option>
					<option value="K165_E165.txt">K165_E165</option>
					<option value="K166_E166.txt">K166_E166</option>
					<option value="K167_E167_S#_C#.txt">K167_E167_S#_C#</option>
					<option value="K168_E168_S96_C117.txt">K168_E168_S96_C117</option>
					<option value="K169_E169.txt">K169_E169</option>
					<option value="K170_E170.txt">K170_E170</option>
					<option value="K171_E171.txt">K171_E171</option>
					<option value="K172_E172_S103.txt">K172_E172_S103</option>
					<option value="K173_E173.txt">K173_E173</option>
					<option value="K174_E174.txt">K174_E174</option>
					<option value="K175_E175.txt">K175_E175</option>
					<option value="K176_E176.txt">K176_E176</option>
					<option value="K177_E177.txt">K177_E177</option>
					<option value="K178_E178.txt">K178_E178</option>
					<option value="K179_E179_S169.txt">K179_E179_S169</option>
					<option value="K180_E180.txt">K180_E180</option>
					<option value="K181_E181.txt">K181_E181</option>
					<option value="K182_E182_S123_C40.txt">K182_E182_S123_C40</option>
					<option value="K183_E183_S133_C#.txt">K183_E183_S133_C#</option>
					<option value="K184_E184_S127.txt">K184_E184_S127</option>
					<option value="K185_E185_S125.txt">K185_E185_S125</option>
					<option value="K186_E186_S132_C210.txt">K186_E186_S132_C210</option>
					<option value="K187_E187.txt">K187_E187</option>
					<option value="K188_E188_S130_C100.txt">K188_E188_S130_C100</option>
					<option value="K189_E189_S141.txt">K189_E189_S141</option>
					<option value="K190_E190_S121_C211.txt">K190_E190_S121_C211</option>
					<option value="K191_E191.txt">K191_E191</option>
					<option value="K192_E192_S81.txt">K192_E192_S81</option>
					<option value="K193_E193_S119_C213.txt">K193_E193_S61_C213</option>
					<option value="K194_E194_S61.txt">K194_E194_S61</option>
					<option value="K195_E195.txt">K195_E195</option>
					<option value="K196_E196.txt">K196_E196</option>
					<option value="K197_E197_S277.txt">K197_E197_S277</option>
					<option value="K198_E198.txt">K198_E198</option>
					<option value="K199_E199_S139.txt">K199_E199_S139</option>
					<option value="K200_E200.txt">K200_E200</option>
					<option value="K201_E201_S137.txt">K201_E201_S137</option>
					<option value="K202_E202_S128_C#.txt">K202_E202_S128_C#</option>
					<option value="K203_E203.txt">K203_E203</option>
					<option value="K204_E204_S135_C280.txt">K204_E204_S135_C280</option>
					<option value="K205_E205_S111.txt">K205_E205_S111</option>
					<option value="K206_E206.txt">K206_E206</option>
					<option value="K207_E207.txt">K207_E207</option>
					<option value="K208_E208.txt">K208_E208</option>
					<option value="K209_E209_S134_C159.txt">K209_E209_S134_C159</option>
					<option value="K210_E210_S105_C#.txt">K210_E210_S105_C#</option>
					<option value="K211_E211_C#.txt">K211_E211_C#</option>
					<option value="K212_E212.txt">K212_E212</option>
					<option value="K213_E213.txt">K213_E213</option>
					<option value="K214_E214_S#.txt">K214_E214_S#</option>
					<option value="K215_E215_S138_C229.txt">K215_E215_S138_C229</option>
					<option value="K216_E216.txt">K216_E216</option>
					<option value="K217_E217_S290_C207.txt">K217_E217_S290_C207</option>
					<option value="K218_E218.txt">K218_E218</option>
					<option value="K219_E219_S140_C250.txt">K219_E219_S140_C250</option>
					<option value="K220_E220.txt">K220_E220</option>
					<option value="K221_E221.txt">K221_E221</option>
					<option value="K222_E222_S#.txt">K222_E222_S#</option>
					<option value="K223_E223.txt">K223_E223</option>
					<option value="K224_E224_S#.txt">K224_E224_S#</option>
					<option value="K225_E225.txt">K225_E225</option>
					<option value="K226_E226.txt">K226_E226</option>
					<option value="K227_E227.txt">K227_E227</option>
					<option value="K228_E228.txt">K228_E228</option>
					<option value="K229_E229.txt">K229_E229</option>
					<option value="K230_E230.txt">K230_E230</option>
					<option value="K231_E231_S149.txt">K231_E231_S149</option>
					<option value="K232_E232.txt">K232_E232</option>
					<option value="K233_E233_C64.txt">K233_E233_C64</option>
					<option value="K234_E234.txt">K234_E234</option>
					<option value="K235_E235_S151_C197.txt">K235_E235_S151_C197</option>
					<option value="K236_E236_S160.txt">K236_E236_S160</option>
					<option value="K237_E237.txt">K237_E237</option>
					<option value="K238_E238.txt">K238_E238</option>
					<option value="K239_E239.txt">K239_E239</option>
					<option value="K240_E240.txt">K240_E240</option>
					<option value="K241_E241_S152_C242.txt">K241_E241_S152_C242</option>
					<option value="K242_E242_S43_C122.txt">K242_E242_S43_C122</option>
					<option value="K243_E243.txt">K243_E243</option>
					<option value="K244_E244.txt">K244_E244</option>
					<option value="K245_E245_S#.txt">K245_E245_S#</option>
					<option value="K246_E246_S150_C123.txt">K246_E246_S150_C123</option>
					<option value="K247_E247.txt">K247_E247</option>
					<option value="K248_E248.txt">K248_E248</option>
					<option value="K249_E249_S148.txt">K249_E249_S148</option>
					<option value="K250_E250.txt">K250_E250</option>
					<option value="K251_E251.txt">K251_E251</option>
					<option value="K252_E252.txt">K252_E252</option>
					<option value="K253_E253_S162_C#.txt">K253_E253_S162_C#</option>
					<option value="K254_E254.txt">K254_E254</option>
					<option value="K255_E255_S156.txt">K255_E255_S156</option>
					<option value="K256_E256_S#_C#.txt">K256_E256_S#_C#</option>
					<option value="K257_E257_S180.txt">K257_E257_S180</option>
					<option value="K258_E258_S#.txt">K258_E258_S#</option>
					<option value="K259_E259.txt">K259_E259</option>
					<option value="K260_E260_S181_C362.txt">K260_E260_S181_C362</option>
					<option value="K261_E261.txt">K261_E261</option>
					<option value="K262_E262_S117.txt">K262_E262_S117</option>
					<option value="K263_E263.txt">K263_E263</option>
					<option value="K264_E264.txt">K264_E264</option>
					<option value="K265_E265_S168_C#.txt">K265_E265_S168_C#</option>
					<option value="K266_E266_S178.txt">K266_E266_S178</option>
					<option value="K267_E267.txt">K267_E267</option>
					<option value="K268_E268_S163.txt">K268_E268_S163</option>
					<option value="K269_E269_S176.txt">K269_E269_S176</option>
					<option value="K270_E270_S164_C#.txt">K270_E270_S164_C#</option>
					<option value="K271_E271.txt">K271_E271</option>
					<option value="K272_E272.txt">K272_E272</option>
					<option value="K273_E273.txt">K273_E273</option>
					<option value="K274_E274_S166_C347.txt">K274_E274_S166_C347</option>
					<option value="K275_E275_S153_C55.txt">K275_E275_S153_C55</option>
					<option value="K276_E276_S165.txt">K276_E276_S165</option>
					<option value="K277_E277_S171.txt">K277_E277_S171</option>
					<option value="K278_E278_S#.txt">K278_E278_S#</option>
					<option value="K279_E279.txt">K279_E279</option>
					<option value="K280_E280.txt">K280_E280</option>
					<option value="K281_E281.txt">K281_E281</option>
					<option value="K282_E282.txt">K282_E282</option>
					<option value="K283_E283.txt">K283_E283</option>
					<option value="K284_E284.txt">K284_E284</option>
					<option value="K285_E285.txt">K285_E285</option>
					<option value="K286_E286.txt">K286_E286</option>
					<option value="K287_E287.txt">K287_E287</option>
					<option value="K288_E288_S184_C187.txt">K288_E288_S184_C187</option>
					<option value="K289_E289_S360_C376.txt">K289_E289_S360_C376</option>
					<option value="K290_E290.txt">K290_E290</option>
					<option value="K291_E291_S362_C375.txt">K291_E291_S362_C375</option>
					<option value="K292_E292.txt">K292_E292</option>
					<option value="K293_E293_S173.txt">K293_E293_S173</option>
					<option value="K294_E294.txt">K294_E294</option>
					<option value="K295_E295_S364.txt">K295_E295_S364</option>
					<option value="K296_E296.txt">K296_E296</option>
					<option value="K297_E297.txt">K297_E297</option>
					<option value="K298_E298.txt">K298_E298</option>
					<option value="K299_E299_S183_C118.txt">K299_E299_S183_C118</option>
					<option value="K300_E300_S40.txt">K300_E300_S40</option>
					<option value="K301_E301.txt">K301_E301</option>
					<option value="K302_E302_S182_C#.txt">K302_E302_S182_C#</option>
					<option value="K303_E303.txt">K303_E303</option>
					<option value="K304_E304.txt">K304_E304</option>
					<option value="K305_E305.txt">K305_E305</option>
					<option value="K306_E306_S#.txt">K306_E306_S#</option>
					<option value="K307_E307.txt">K307_E307</option>
					<option value="K310_E310.txt">K310_E310</option>
					<option value="K311_E311.txt">K311_E311</option>
					<option value="K312_E312.txt">K312_E312</option>
					<option value="K313_E313_S185_C#.txt">K313_E313_S185_C#</option>
					<option value="K314_E314_S195_C161.txt">K314_E314_S195_C161</option>
					<option value="K315_E315.txt">K315_E315</option>
					<option value="K316_E316_S118_C#.txt">K316_E316_S118_C#</option>
					<option value="K317_E317_S#_C#.txt">K317_E317_S#_C#</option>
					<option value="K318_E318_S189_C219.txt">K318_E318_S189_C219</option>
					<option value="K319_E319_S187_C#.txt">K319_E319_S187_C#</option>
					<option value="K320_E320.txt">K320_E320</option>
					<option value="K321_E321_S188_C#.txt">K321_E321_S188_C#</option>
					<option value="K322_E322_S196.txt">K322_E322_S196</option>
					<option value="K323_E323.txt">K323_E323</option>
					<option value="K324_E324.txt">K324_E324</option>
					<option value="K325_E325_S#.txt">K325_E325_S#</option>
					<option value="K326_E326_S191.txt">K326_E326_S191</option>
					<option value="K327_E327.txt">K327_E327</option>
					<option value="K328_E328_S186.txt">K328_E328_S186</option>
					<option value="K329_E329.txt">K329_E329</option>
					<option value="K330_E330_S202_C283.txt">K330_E330_S202_C283</option>
					<option value="K331_E331_S198_C#.txt">K331_E331_S198_C#</option>
					<option value="K333_E333.txt">K333_E333</option>
					<option value="K334_E334.txt">K334_E334</option>
					<option value="K335_E335.txt">K335_E335</option>
					<option value="K336_E336_S199_C#.txt">K336_E336_S199_C#</option>
					<option value="K337_E337_S200_C227.txt">K337_E337_S200_C227</option>
					<option value="K338_E338.txt">K338_E338</option>
					<option value="K340_E340_S206.txt">K340_E340_S206</option>
					<option value="K341_E341_S203.txt">K341_E341_S203</option>
					<option value="K342_E342.txt">K342_E342</option>
					<option value="K343_E343_S205_C#.txt">K343_E343_S205_C#</option>
					<option value="K344_E344.txt">K344_E344</option>
					<option value="K345_E345.txt">K345_E345</option>
					<option value="K346_E346_S#.txt">K346_E346_S#</option>
					<option value="K347_E347_S210_C351.txt">K347_E347_S210_C351</option>
					<option value="K348_E348_S#.txt">K348_E348_S#</option>
					<option value="K349_E349_S213_C#.txt">K349_E349_S213_C#</option>
					<option value="K350_E350_S215_C#.txt">K350_E350_S215_C#</option>
					<option value="K351_E351_S212.txt">K351_E351_S212</option>
					<option value="K352_E352.txt">K352_E352</option>
					<option value="K353_E353.txt">K353_E353</option>
					<option value="K354_E354.txt">K354_E354</option>
					<option value="K355_E355_S#.txt">K355_E355_S#</option>
					<option value="K356_E356_S216.txt">K356_E356_S216</option>
					<option value="K357_E357.txt">K357_E357</option>
					<option value="K358_E358.txt">K358_E358</option>
					<option value="K359_E359_S214.txt">K359_E359_S214</option>
					<option value="K360_E360_S229_C267.txt">K360_E360_S229_C267</option>
					<option value="K361_E361_S286.txt">K361_E361_S286</option>
					<option value="K362_E362.txt">K362_E362</option>
					<option value="K363_E363_S218.txt">K363_E363_S218</option>
					<option value="K364_E364_S217_C374.txt">K364_E364_S217_C374</option>
					<option value="K365_E365_S219_C338.txt">K365_E365_S219_C338</option>
					<option value="K366_E366.txt">K366_E366</option>
					<option value="K367_E367.txt">K367_E367</option>
					<option value="K368_E358.txt">K368_E358</option>
					<option value="K369_E369.txt">K369_E369</option>
					<option value="K370_E370_S228.txt">K370_E370_S228</option>
					<option value="K371_E371.txt">K371_E371</option>
					<option value="K372_E372_S221.txt">K372_E372_S221</option>
					<option value="K373_E373.txt">K373_E373</option>
					<option value="K374_E374.txt">K374_E374</option>
					<option value="K375_E375_S223.txt">K375_E375_S223</option>
					<option value="K376_E376_S222.txt">K376_E376_S222</option>
					<option value="K377_E377_S226_C276.txt">K377_E377_S226_C276</option>
					<option value="K378_E378.txt">K378_E378</option>
					<option value="K379_E379.txt">K379_E379</option>
					<option value="K380_E380.txt">K380_E380</option>
					<option value="K381_E381.txt">K381_E381</option>
					<option value="K382_E382.txt">K382_E382</option>
					<option value="K383_E383_S225.txt">K383_E383_S225</option>
					<option value="K384_E384_S335.txt">K384_E384_S335</option>
					<option value="K385_E385.txt">K385_E385</option>
					<option value="K386_E386.txt">K386_E386</option>
					<option value="K387_E387.txt">K387_E387</option>
					<option value="K388_E388_S340.txt">K388_E388_S340</option>
					<option value="K389_E389_S339_C322.txt">K389_E389_S339_C322</option>
					<option value="K390_E390_S337_C325.txt">K390_E390_S337_C325</option>
					<option value="K391_E391_S332.txt">K391_E391_S332</option>
					<option value="K392_E392.txt">K392_E392</option>
					<option value="K395_E395_S344_C275.txt">K395_E395_S344_C275</option>
					<option value="K397_E397_S338.txt">K397_E397_S338</option>
					<option value="K399_E399_S343_C#.txt">K399_E399_S343_C#</option>
					<option value="K400_E400_S336.txt">K400_E400_S336</option>
					<option value="K402_E402_S#_C#.txt">K402_E402_S#_C#</option>
					<option value="K403_E403_S256.txt">K403_E403_S256</option>
					<option value="K404_E404_S31_C#.txt">K404_E404_S31_C#</option>
					<option value="K405_E405_S82_C#.txt">K405_E405_S82_C#</option>
					<option value="K406_E406.txt">K406_E406</option>
					<option value="K408_E408_S249.txt">K408_E408_S249</option>
					<option value="K409_E409.txt">K409_E409</option>
					<option value="K410_E410_S259_C277.txt">K410_E410_S259_C277</option>
					<option value="K411_E411_S239_C239.txt">K411_E411_S239_C239</option>
					<option value="K412_E412.txt">K412_E412</option>
					<option value="K413_E413.txt">K413_E413</option>
					<option value="K414_E414.txt">K414_E414</option>
					<option value="K415_E415_S#.txt">K415_E415_S#</option>
					<option value="K416_E416.txt">K416_E416</option>
					<option value="K417_E417_S241_C234.txt">K417_E417_S241_C234</option>
					<option value="K418_E418.txt">K418_E418</option>
					<option value="K419_E419_S281.txt">K419_E419_S281</option>
					<option value="K420_E420.txt">K420_E420</option>
					<option value="K421_E421.txt">K421_E421</option>
					<option value="K422_E422.txt">K422_E422</option>
					<option value="K423_E423_S285_C287.txt">K423_E423_S285_C287</option>
					<option value="K427_E427.txt">K427_E427</option>
					<option value="K431_E431_S263.txt">K431_E431_S263</option>
					<option value="K432_E432_S288_C270.txt">K432_E432_S288_C270</option>
					<option value="K434_E434_S269_C259.txt">K434_E434_S269_C259</option>
					<option value="K435_E435_S#_C278.txt">K435_E435_S#_C278</option>
					<option value="K440_E440_S197_C214.txt">K440_E440_S197_C214</option>
					<option value="K441_E441_S262_C299.txt">K441_E441_S262_C299</option>
					<option value="K442_E442_S283_C271.txt">K442_E442_S283_C271</option>
					<option value="K444_E444_S279_C258.txt">K444_E444_S279_C258</option>
					<option value="K445_E445.txt">K445_E445</option>
					<option value="K446_K446_S280.txt">K446_K446_S280</option>
					<option value="K447_E447_S270.txt">K447_E447_S270</option>
					<option value="K448_E448_S275_C162.txt">K448_E448_S275_C162</option>
					<option value="K449_E449.txt">K449_E449</option>
					<option value="K450_E450.txt">K450_E450</option>
					<option value="K451_E451.txt">K451_E451</option>
					<option value="K452_E452.txt">K452_E452</option>
					<option value="K453_E453.txt">K453_E453</option>
					<option value="K454_E454_S328.txt">K454_E454_S328</option>
					<option value="K455_E455_S289_C304.txt">K455_E455_S289_C304</option>
					<option value="K456_E456.txt">K456_E456</option>
					<option value="K457_457_S271.txt">K457_457_S271</option>
					<option value="K458_E458_S266_C282.txt">K458_E458_S266_C282</option>
					<option value="K459_E459.txt">K459_E459</option>
					<option value="K460_E460.txt">K460_E460</option>
					<option value="K461_E461.txt">K461_E461</option>
					<option value="K462_E462.txt">K462_E462</option>
					<option value="K463_E463.txt">K463_E463</option>
					<option value="K465_E465_S265_C236.txt">K465_E465_S265_C236</option>
					<option value="K466_E466.txt">K466_E466</option>
					<option value="K467_E467.txt">K467_E467</option>
					<option value="K468_E468_S276.txt">K468_E468_S276</option>
					<option value="K469_E469_S284.txt">K469_E469_S284</option>
					<option value="K470_E470_S260.txt">K470_E470_S260</option>
					<option value="K471_E471_S264_C99.txt">K471_E471_S264_C99</option>
					<option value="K472_E472_S#_C#.txt">K472_E472_S#_C#</option>
					<option value="K473_E473_S204_C294.txt">K473_E473_S204_C294</option>
					<option value="K474_E474_S175_C#.txt">K474_E474_S175_C#</option>
					<option value="K475_E475.txt">K475_E475</option>
					<option value="K476_E476_S274_C291.txt">K476_E476_S274_C291</option>
					<option value="K477_E477.txt">K477_E477</option>
					<option value="K478_E478_S261_C337.txt">K478_E478_S261_C337</option>
					<option value="K479_E479.txt">K479_E479</option>
					<option value="K480_E480_S#_C#.txt">K480_E480_S#_C#</option>
					<option value="K481_E481.txt">K481_E481</option>
					<option value="K482_E482_S296_C203.txt">K482_E482_S296_C203</option>
					<option value="K483_E483_S#.txt">K483_E483_S#</option>
					<option value="K484_E484_S295.txt">K484_E484_S295</option>
					<option value="K485_E485_S291.txt">K485_E485_S291</option>
					<option value="K486_E486.txt">K486_E486</option>
					<option value="K487_E487_S297_C302.txt">K487_E487_S297_C302</option>
					<option value="K488_E488_S306_C297.txt">K488_E488_S306_C297</option>
					<option value="K489_E489_S304_C237.txt">K489_E489_S304_C237</option>
					<option value="K490_E490_S310.txt">K490_E490_S310</option>
					<option value="K491_E491.txt">K491_E491</option>
					<option value="K492_E492.txt">K492_E492</option>
					<option value="K493_E493_S314.txt">K493_E493_S314</option>
					<option value="K494_E494.txt">K494_E494</option>
					<option value="K495_E495_S323_C274.txt">K495_E495_S323_C274</option>
					<option value="K496_E496.txt">K496_E496</option>
					<option value="K497_E497.txt">K497_E497</option>
					<option value="K498_E498.txt">K498_E498</option>
					<option value="K499_E499_S307_C209.txt">K499_E499_S307_C209</option>
					<option value="K500_E500_S321_C284">K500_E500_S321_C284</option>
					<option value="K501_E501.txt">K501_E501</option>
					<option value="K502_E502_S311.txt">K502_E502_S311</option>
					<option value="K503_E503.txt">K503_E503</option>
					<option value="K504_E504.txt">K504_E504</option>
					<option value="K505_E505.txt">K505_E505</option>
					<option value="K506_E506_S318.txt">K506_E506_S318</option>
					<option value="K507_E507_S322.txt">K507_E507_S322</option>
					<option value="K508_E508.txt">K508_E508</option>
					<option value="K509_E509.txt">K509_E509</option>
					<option value="K510_E510_S308_C#.txt">K510_E510_S308_C#</option>
					<option value="K511_E511_S179_C255.txt">K511_E511_S179_C255</option>
					<option value="K512_E512_S177_C254.txt">K512_E512_S177_C254</option>
					<option value="K513_E513.txt">K513_E513</option>
					<option value="K514_E514.txt">K514_E514</option>
					<option value="K515_E515.txt">K515_E515</option>
					<option value="K516_E516.txt">K516_E516</option>
					<option value="K517_E517.txt">K517_E517</option>
					<option value="K518_E518.txt">K518_E518</option>
					<option value="K519_E519_S158.txt">K519_E519_S158</option>
					<option value="K520_E520.txt">K520_E520</option>
					<option value="K521_E521_S312.txt">K521_E521_S312</option>
					<option value="K522_E522.txt">K522_E522</option>
					<option value="K523_E523.txt">K523_E523</option>
					<option value="K524_E524_S326.txt">K524_E524_S326</option>
					<option value="K525_E525.txt">K525_E525</option>
					<option value="K526_E526.txt">K526_E526</option>
					<option value="K527_E527.txt">K527_E527</option>
					<option value="K528_E528.txt">K528_E528</option>
					<option value="K529_E529.txt">K529_E529</option>
					<option value="K530_E530.txt">K530_E530</option>
					<option value="K531_E531.txt">K531_E531</option>
					<option value="K532_E532.txt">K532_E532</option>
					<option value="K533_E533.txt">K533_E533</option>
					<option value="K534_E534.txt">K534_E534</option>
					<option value="K535_E535.txt">K535_E535</option>
					<option value="K536_E536.txt">K536_E536</option>
					<option value="K537_E537.txt">K537_E537</option>
					<option value="K538_E538.txt">K538_E538</option>
					<option value="K539_E539_S354.txt">K539_E539_S354</option>
					<option value="K540_E540.txt">K540_E540</option>
					<option value="K541_E541_S348.txt">K541_E541_S348</option>
					<option value="K542_E542_S349.txt">K542_E542_S349</option>
					<option value="K543_E543_S144.txt">K543_E543_S144</option>
					<option value="K544_E544_S358.txt">K544_E544_S358</option>
					<option value="K545_E545.txt">K545_E545</option>
					<option value="K546_E546.txt">K546_E546</option>
					<option value="K547_E547.txt">K547_E547</option>
					<option value="K548_E548.txt">K548_E548</option>
					<option value="K549_E549.txt">K549_E549</option>
					<option value="K550_E550.txt">K550_E550</option>
					<option value="K551_E551_S#_C#.txt">K551_E551_S#_C#</option>
					<option value="K552_E552_S#_C#.txt">K552_E552_S#_C#</option>
					<option value="K553_E553_S#_C#.txt">K553_E553_S#_C#</option>
					<option value="K554_E554_S#_C#.txt">K554_E554_S#_C#</option>
					<option value="K555_E555_S#_C#.txt">K555_E555_S#_C#</option>
					<option value="K556_E556_S#_C#.txt">K556_E556_S#_C#</option>
					<option value="K557_E557_S#_C#.txt">K557_E557_S#_C#</option>
					<option value="K558_E558_S#_C#.txt">K558_E558_S#_C#</option>
				</select>

				<form enctype="multipart/form-data" action="/hymn_ppt/" method="POST" id="generate_ppt">
					<p>
						<input type="radio" name="use_case" id="WestCoastTheme" value="WestCoastTheme" checked>
						<label for="WestCoastTheme">West Coast Theme<br>
							<img src="{{ url_for('static',filename='sample/west_coast_title_example.png') }}"
								alt="west_coast_title_example.png" style="width:200px">
							<img src="{{ url_for('static',filename='sample/west_coast_lyrics_example.png') }}"
								alt="west_coast_lyrics_example.png" style="width:200px">
						</label>
					</p>
					<p><input type="submit" value="Download" /></p>
				</form>

				<br />
				<hr />
				<br />

				<footer>
					<section>
						<h4>Feature Requests / Bug Reports / Any Questions</h4>
						<p>Send an email to <a href="mailto:dongkyu.kim.dev@gmail.com">dongkyu.kim.dev@gmail.com</a></p>
						<p>Find the source code of this website at <a
								href="https://github.com/dongkyu9315/python-lyrics-ppt-creator">Github</a></p>
					</section>
					<p>&copy;2023 Dongkyu Kim</p>
				</footer>
			</div>
		</div>

		<script src="{{ url_for('static',filename='assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/sidebars.js') }}"></script>
</body>

</html>