<!DOCTYPE HTML>
<html>

<head>
	<title>Hymn Lyrics PPT Creator</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/sidebars.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<main class="d-flex flex-nowrap">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
				<svg class="bi pe-none me-2" width="40" height="32"></svg>
				<span class="fs-4">Hymn Lyrics PPT Creator</span>
			</a>
			<hr>
			<ul class="nav nav-pills flex-column mb-auto">
				<li class="nav-item">
					<a href="/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						Download Hymn PPT
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_pptx/" class="nav-link text-white">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.txt -> .pptx
					</a>
				</li>
				<li class="nav-item">
					<a href="/to_txt/" class="nav-link active" aria-current="page">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						.pptx -> .txt
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#how-to-use-collapse" aria-expanded="false">
						<svg class="bi pe-none me-2" width="16" height="16"></svg>
						How to use
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
							<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
						</svg>
					</a>
					<div class="collapse" id="how-to-use-collapse">
						<ul class="nav nav-pills flex-column mb-auto">
							<li class="nav-item">
								<a href="/how_to_use_west_coast_theme/" class="nav-link text-white">
									<svg class="bi pe-none me-2" width="32" height="16"></svg>
									West Coast Theme
								</a>
							</li>
							<li class="nav-item">
								<a href="/how_to_use_wed_sermon/" class="nav-link text-white">
									<svg class="bi pe-none me-2" width="32" height="16"></svg>
									Wednesday Sermon
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="container my-5">
		<div class="p-5 text-left bg-body-tertiary rounded-3">
			<h1 class="text-body-emphasis">Generate a list TXT files</h1>
			<p class="fs-5 text-muted">
				Upload your pptx files below to generate a list of txt files
			</p>

			<form enctype="multipart/form-data" action="/pptx_files/" method="POST">
				<p>File: <input type="file" name="filename[]" multiple/></p>
				<p><input type="submit" value="Upload / Convert / Download"/></p>
			</form>

			<br/>
			<hr/>
			<br/>

			<footer>
				<section>
					<h4>Feature Requests / Bug Reports / Any Questions</h4>
					<p>Send an email to <a href="mailto:dongkyu.kim.dev@gmail.com">dongkyu.kim.dev@gmail.com</a></p>
					<p>Find the source code of this website at <a href="https://github.com/dongkyu9315/python-lyrics-ppt-creator">Github</a></p>
				</section>
				<p>&copy;2023 Dongkyu Kim</p>
			</footer>
		</div>
	</div>

	<script src="{{ url_for('static',filename='assets/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/js/sidebars.js') }}"></script>
</body>

</html>